
*{
 margin: 0px;
 box-sizing: border-box;
}
.cards-div{
  display: flex;
  flex-wrap: wrap;
}
.cards{
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  height: 200px;

  background-color: rgb(150, 183, 144);
  font-weight: 500;
  font-size: 19px;
}
.text{
  margin-top: 10px;
}